.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

a {
    color: blue;
}

h1 {
    color: yellow;
}

nav {
    background-color: gray;
}
footer {
    padding: 2em;
}
